<ion-router-outlet></ion-router-outlet>

<!-- Custom Bottom Navbar -->
<div class="custom-bottom-nav">
  <div class="nav-item" (click)="navigateTo('home')" [class.active]="isActive('home')">
    <ion-icon name="home"></ion-icon>
    <span>Home</span>
  </div>
  
  <div class="nav-item" (click)="navigateTo('activity')" [class.active]="isActive('activity')">
    <ion-icon name="list"></ion-icon>
    <span>Activity</span>
  </div>
  
  <div class="nav-item" (click)="navigateTo('wallet')" [class.active]="isActive('wallet')">
    <ion-icon name="wallet"></ion-icon>
    <span>Wallet</span>
  </div>
  
  <div class="nav-item" (click)="navigateTo('account')" [class.active]="isActive('account')">
    <ion-icon name="person"></ion-icon>
    <span>Account</span>
  </div>
</div>